---
title: 'Anthony Electric LLC | Home | Sand Springs, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->

<section id="hero-1946">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">We Do It Right</h2>
            <div class="cs-flex">
                <p class="cs-text">At Anthony Electric LLC, we don’t cut corners—every job is done by the book, up to code, and with long-term safety in mind. We use quality materials, take the time to do it right the first time, and never leave a mess behind.</p>
                <a href="tel:918-706-8451" class="cs-button-solid">Call Now</a>
            </div>
        </div>
        <picture class="cs-picture">
            <source media="(min-width: 601px)" srcset="/assets/images/truck2.jpg">
            <source media="(max-width: 600px)" srcset="/assets/images/truck2.jpg">
            <img decoding="async" src="/assets/images/truck2.jpg" alt="construction site" width="1280" height="510">
        </picture>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-picture">
                    <img class="cs-icon" src="/assets/svgs/electrical-panel.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Electrical Panel Upgrades</h3>
                    <p class="cs-item-text">Old or overloaded panels are a safety hazard. We replace them with modern systems that handle today’s electrical demands safely and efficiently.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-picture">
                    <img class="cs-icon" src="/assets/svgs/wire.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Project-Wide Rewiring</h3>
                    <p class="cs-item-text">Outdated wiring can lead to fires or constant electrical issues. We rewire to meet current codes, improve safety, and boost performance.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-picture">
                    <img class="cs-icon" src="/assets/svgs/chandeliers.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Lighting Installation (Indoor & Outdoor)</h3>
                    <p class="cs-item-text">From custom interior lighting to motion-activated outdoor setups, we design and install it all. We focus on function, style, and energy efficiency.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-picture">
                    <img class="cs-icon" src="/assets/svgs/electricity.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Troubleshooting & Repairs</h3>
                    <p class="cs-item-text">If your power’s flickering or breakers keep tripping, we’ll find the root cause fast. Our diagnostics are precise, and our repairs are built to last.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
                                

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/work.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/work.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/work.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/worker.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/worker.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/worker.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Anthony Electric</h2>
                <p class="cs-text">
                    We’re a locally owned business based in Sand Springs, Oklahoma, built on honest work and reliable service. We believe that every home and business deserves safe, efficient, and properly installed electrical systems. With years of hands-on experience, we handle everything from simple fixes to full-scale upgrades with professionalism and precision.
                </p>
                <p class="cs-text">
                    We take pride in showing up on time, communicating clearly, and respecting your space like it’s our own. Whether we're troubleshooting a power issue or rewiring an entire property, we bring the same attention to detail and commitment to quality. Serving Sand Springs, Tulsa, and surrounding communities, we’re here to keep the power flowing safely and reliably.
                </p>
                <!-- <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77"/>
                </div> -->
                <a href="/" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/breaker.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/breaker.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/breaker.jpg" alt="house" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/license.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/license.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/license.jpg" alt="cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Safety First</span>
                <h2 class="cs-title">And Why It Matters</h2>
                <p class="cs-text">
                    Electrical safety isn’t optional—it’s essential to protect your home, your family, and your property. That’s why following proper codes, standards, and regulations is at the core of everything we do. Cutting corners with wiring or ignoring updates to the National Electrical Code can lead to serious hazards, but with Anthony Electric LLC, your system is built to meet and exceed all safety requirements.
                <p class="cs-text">
                    We stay up to date on the latest electrical regulations to ensure every installation and repair is safe, legal, and built to last. Whether it's a new panel, upgraded wiring, or a simple outlet fix, we double-check every detail for code compliance. Safety isn't just a checklist—it's our standard. The First Time.
                </p>
                <a href="/" class="cs-button-solid">Read our Blog</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">We're proud of the work we do</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a href="/" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <!-- <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80"/> -->
                    <p class="cs-item-p">
                        We had a marquee sign that need a total over-haul, after the lighting went out. Anthony Electric came in replace all the tombstones, added silicone so water could not get to them and not our 20+ sign looks new. He also added in new LED lights so we could light up a runway if we needed to.

                    </p>
                    <span class="cs-reviewer">
                        Prattwood Assembly of God
                        <span class="cs-desc">Satisfied Customer</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <!-- <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80"/> -->
                    <p class="cs-item-p">
                        Anthony did great work putting in a three phase converter along with a rotary motor for our business.
                        He did lots of research on the matter to make sure that everything was perfect and safe. Called multiple manufactures and talked to a bunch of engineers to ensure that we would never have issues later down the road.
                        He is a great and knowledgeable electrician, I would use him again, also recommend him to anyone who needs his services.
                    </p>
                    <span class="cs-reviewer">
                        maxwell ray
                        <span class="cs-desc">Satisfied Customer</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
            </ul>
            <a aria-label="read more reviews" href="https://www.google.com/search?sca_esv=5b376c1791f2e6a4&rlz=1C1VDKB_enUS1058US1058&sxsrf=AHTn8zodc6muSXqOtqQsUVwTX5LB1pMctQ:1747766910615&si=APYL9bs7Hg2KMLB-4tSoTdxuOx8BdRvHbByC_AuVpNyh0x2KzWNQjFnyQvGXSr1ev74iK_aDTZxfvL9EFsmxoC3GXbomFx-5wDPJC1ZPdoa4u0uikKIvdFDoRe7r3rd-XTi1R2Fg4v10YpS0mSWWOOcLHjUVDQMBeg%3D%3D&q=Anthony+Electric+LLC+Reviews&sa=X&ved=2ahUKEwiG4-2O27KNAxW9KlkFHaPSIhUQ0bkNegQINxAD&biw=1536&bih=730&dpr=1.25" class="cs-button-solid" target="_blank">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}